body {
  font-family: Arial, sans-serif;
  text-align: center;
  color: aliceblue;
  margin: 50px auto;
  max-width: 600px;
  padding: 20px;
  background-image:url(assets/images/background-desktop.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

input {
  outline: 0;
  padding: 10px;
  width: 350px;
  height: 25px;
  border-color: rgba(255, 255, 255, 0.2);
  background-color: hsla(245, 15%, 58%, 0.1);
  color: white;
  border-radius: 10px;
  padding: 10px;
}

button {
  background-color: hsla(245, 15%, 58%, 0.1);
  color: white;
  border-radius: 10px;
  padding: 10px;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: hsla(245, 15%, 58%, 0.2);
}
button:active {
  background-color: hsla(245, 15%, 58%, 0.3);
}

#resultado {
  margin-top: 20px;
  font-size: 1.2em;
}

#anos-resultado {
  font-size: 1.5em;
  color: hsl(48, 100%, 75%) ;
}



#depois-resultado{
  font-size: 1.5em;
  color: hsl(0, 83%, 47%)
}
strong.dinheiro{
  font-size: 1.9em;
  color: hwb(93 25% 0%)
}
.oculto {
  display: none;
}

#formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
}