body {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  color: aliceblue;
  margin: 50px auto;
  max-width: 600px;
  padding: 20px;
  background-image:url(assets/images/background-desktop.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  margin-top: 0px;
  font-size: 2.5em;
  color:hwb(244 89% 0%)
}

p{
  font-size: 1.2em;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 600;
  color:hwb(245 84% 1%)
}

input {
  outline: 0;
  padding: 10px;
  width: 24em;
  height: 20px;
  border-color: rgba(255, 255, 255, 0.2);
  background-color: hsla(246, 33%, 75%, 0.1);
  color: white;
  border-radius: 10px;
  padding: 10px;
}

button {
  background-color: hsla(263, 100%, 65%, 0.6);
  color: white;
  border-radius: 10px;
  width: 26em;
  height: 35px;
  border: none;
  cursor: pointer;
  margin-top: 25px;
}

button:hover {
  background-color: hsla(245, 15%, 58%, 0.2);
}

button:active {
  background-color: hsla(245, 15%, 58%, 0.3);
}

#resultado {
  margin-top: 20px;
  font-size: 1.2em;
}

#anos-resultado {
  font-size: 1.5em;
  color: hsl(48, 100%, 75%) ;
}

#depois-resultado{
  font-size: 1.5em;
  color: hsl(0, 83%, 47%)
}

strong.dinheiro{
  font-size: 1.9em;
  color: hwb(93 25% 0%)
}

.oculto {
  display: none;
}

#formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
}